/* Destacar el equipo Barcelona */
.highlight {
    background-color: yellow;
}

/* Estilos para el div de resultados */
#resultados {
    margin-top: 20px;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #ccc;
}